* {
  margin: 0;
  padding: 10;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #65516D;
  color: aliceblue;
  display: flex;    
  justify-content: center;
  align-items: cente  r;
}

h1, h3 {
  text-align: center;
  margin: 2rem auto 1rem;
}

.hubi{
  display: block;
  justify-content: center;
  width: 200px;
}

.container {
  height: 700px;
  width: 700px;
  background-color: #726379;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 3rem;
}

.card {
  background-color: aliceblue; 
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 2rem; 
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard{
  0% {
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(180deg);
  }
}

.card img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
}

@keyframes hideImage{
  0%, 70%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0);
    opacity: 0;
  }
}

.card.active{
  transform: rotateY(0);
}

.card.correct{
  background-color: green;
}

.card.wrong{
  background-color: red;
}

.card.active img{
  transform: scale(1);
  opacity: 1;
}

figure {
  perspective: 1000px;
  width: 420px;
  margin: 5em auto;
  height: 350px;
  background: red;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  transform: perspective(1200px) rotateY(50deg);
}